**import the packages**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**read the data**

In [2]:
visa_df=pd.read_csv(r"C:\Users\SIRI\OneDrive\nareshit\EDA\Visadataset - Visadataset.csv")
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

**Standardization**

- standardization is a techinquie scale all the data under one scale

- Different columns has different values aslo different units

- some columns values has bigger values, some column values has lesser values

- so it is important to keep all the values under one scale

- we have two methods are there

   - standardaization 
     - normalization

 - standarization
     - Z-score
    -  Z scorevaries from-3 to3

        <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://fredclavel.org/wp-content/uploads/2019/03/z-score-population.png">

 **Normalization**
 . min max scalar
  . values ranges from 0 to 1

  <img id="dimg_29" src="" class="YQ4gaf zr758c" height="109" style="object-position:0% 50%" width="461" alt="Min–max normalization - Hands-On ..." data-csiid="24" data-atf="4">

**Task**
- step-1: take prevailing wage column:visa_df['prevailing_wage']
- step-2: calculate the mean value prevailing wage:mean=visa_df['prevailing_wage'].mean
- step-3:calculate the standard deviation of prevailing wage:std=visa_df['prevailing_wage'].std
- step-4:calculate the Nr:step-1 step-2:Nr=visa_df['prevailing_wage']-mean
- step-5:divide the step4/step3

In [3]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [8]:
visa_df['prevailing_wage'].mean

<bound method Series.mean of 0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64>

In [11]:
visa_df['prevailing_wage'].std

<bound method Series.std of 0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64>

In [12]:
visa_df['prevailing_wage']-mean

0        -73863.611692
1          8969.835408
2         48541.045408
3          8978.215408
4         75451.575408
             ...
25475      2636.755408
25476    204718.975408
25477     71843.035408
25478     11698.955408
25479     -3578.904592
Name: prevailing_wage, Length: 25480, dtype: float64

In [13]:
mean=visa_df['prevailing_wage'].mean()
std=visa_df['prevailing_wage'].std()
Nr=visa_df['prevailing_wage']-mean
visa_df['prevailing_wage_z']=Nr/std
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

**Task-2**

- compare the two columns 

- Get the maximum value and minimum value of the indexes

- the both indexes should match

**idxmax-idxmin**

In [15]:
maxx=visa_df["prevailing_wage"].idxmax(),visa_df["prevailing_wage_z"].idxmax()
minn=visa_df["prevailing_wage"].idxmin(),visa_df["prevailing_wage_z"].idxmin()
maxx,minn

((21077, 21077), (20575, 20575))

In [18]:
max_val=visa_df["prevailing_wage"].max(),visa_df["prevailing_wage_z"].max()
min_val=visa_df["prevailing_wage"].min(),visa_df["prevailing_wage_z"].min()
max_val,min_val

((319210.27, 4.634101837909902), (2.1367, -1.4096818992891214))

**Normalization**

- read the data again
- step-1:take prevailing wage column:visa_df['prevailing_wage']
- step-2:calculate the min value prevailing wage:max=visa_df['prevailing_wage'].min
- step-3:calculate the min value prevailing wage:max=visa_df['prevailing_wage'].max
- step-4: calculate the Nr:step-1-step-2:Nr=visa_df['prevailing_wage']-min
- step-5:DR=step-3-step-2
- step-6:divide the step4/step5

In [19]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [20]:
visa_df['prevailing_wage'].min

<bound method Series.min of 0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64>

In [21]:
visa_df['prevailing_wage'].max

<bound method Series.max of 0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64>

In [25]:
x_max=visa_df['prevailing_wage'].max()
x_min=visa_df['prevailing_wage'].min()
Nr=visa_df['prevailing_wage_min_max']=Nr/(x_max-x_min)
visa_df[['prevailing_wage','prevailing_wage_min_max']]

       prevailing_wage  prevailing_wage_min_max
0             592.2029                -0.231396
1           83425.6500                 0.028100
2          122996.8600                 0.152067
3           83434.0300                 0.028127
4          149907.3900                 0.236371
...                ...                      ...
25475       77092.5700                 0.008260
25476      279174.7900                 0.641334
25477      146298.8500                 0.225066
25478       86154.7700                 0.036650
25479       70876.9100                -0.011212

[25480 rows x 2 columns]

**package name:MinMaxscalar**

In [ ]:
from sklearn.preprocessing import MinMaxscaler
mms=MinMaxscaler()
visa_df['prevailing_wage_min_max_ss']=mms.fit_transform(visa_df[['prevailing_wage